.card {
   background-color: var(--color-white);
   border-radius: 10px;
   padding: 30px;
   flex: 1;
   .information {
      display: flex;
      justify-content: space-between;
      .name {
         color: var(--color-dark-300);
         h2 {
            color: var(--color-dark-900);
         }
      }
      i {
         color: var(--color-red);
         font-size: 1.5rem;
         cursor: pointer;
         transition: all 0.5s;
         &:hover {
            transform: scale(1.2);
            filter: drop-shadow(2px 5px 8px #aaa);
         }
      }
   }

   .img-container {
      // height: 200px;
      padding: 30px;
      img {
         width: 100%;
         object-fit: cover;
      }
   }

   .features {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      height: 30px;
      margin-bottom: 50px;
      .feature {
         display: flex;
         justify-content: space-between;
         align-items: center;
         img {
            width: 20px;
         }
         span {
            margin-left: 5px;
         }

         &.gasLimit {
            img {
               width: 25px;
            }
         }
      }
   }
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
   .card {
      .img-container {
         padding: 50px;
      }

      .features {
         .feature {
            img {
               width: 30px;
            }
         }
      }
   }
}

@media only screen and (min-width: 1200px) {
}
