header {
   // height: 500px;
   // width: 100%;
   // display: grid;
   // grid-template-columns: repeat(2, 1fr);
   // gap: 30px;

   .left {
      grid-column: span 1;
      aspect-ratio: 1/1;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      gap: 1.25rem;

      .picture {
         border-radius: 10px;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         transition: all 0.5s;

         img {
            border-radius: 10px;
            object-fit: cover;
            width: 100%;
            height: 100%;
         }

         &.active {
            border: 0.1rem solid var(--color-primary);
            padding: 0.2rem;
         }
      }

      .picture_1 {
         grid-column: span 12;
         grid-row: span 8;
      }

      .picture_2 {
         grid-column: span 4;
         grid-row: span 4;
      }

      .picture_3 {
         grid-column: span 4;
         grid-row: span 4;
      }

      .picture_4 {
         grid-column: span 4;
         grid-row: span 4;
      }
   }

   .right {
      aspect-ratio: 1/1;
      background-color: var(--color-white);
      grid-column: span 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;

      .top {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         .right-title {
            h2 {
               font-size: 2rem;
               margin-bottom: 0.5rem;
            }
            .stars {
               i {
                  color: #fbad39;
               }
            }
         }

         svg {
            margin-top: -20px;
         }
      }

      p {
         font-size: 1.5rem;
         color: var(--color-dark-500);
         line-height: 2rem;
         max-height: 6rem;
         overflow: hidden;
      }

      .details {
         width: 100%;
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         gap: 0.5rem 1rem;

         .detail {
            grid-column: span 1;
            font-size: 1.25rem;
            color: var(--color-dark-300);

            &:nth-child(even) {
               font-weight: bolder;
               color: var(--color-dark-500);
            }
         }
      }

      .bm {
         width: 100%;
         height: 50px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         .lt {
            color: var(--color-dark-300);
            h2 {
               display: inline-block;
               color: var(--color-dark-900);
            }
            del {
               text-decoration: line-through;
            }
         }
         .rt {
            a {
               background-color: var(--color-primary);
               padding: 1rem;
               width: 150px;
               text-align: center;
               border-radius: 5px;
               color: var(--color-white);
            }
         }
      }
   }
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 992px) {
   header {
      // width: 100%;
      aspect-ratio: 2/1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
   }
}

@media only screen and (min-width: 1200px) {
}
