@import "../../index.scss";

nav {
   width: 100%;
   // padding: 1.5rem;
   margin-bottom: 1rem;
   .profile-box {
      @include d-flex(space-between, center);
      .fa {
         color: var(--color-dark-300);
         font-size: 1.8rem;
         cursor: pointer;
         z-index: 99;
      }
      .profile-img {
         width: 3rem;
         height: 3rem;
         border-radius: 50%;
         object-fit: cover;
      }
      .profile-details {
         display: none;
      }
   }
   .logo-box {
      .logo {
         color: var(--color-primary);
         font-size: 2rem;
         margin : {
            top: 0.5rem;
            bottom: 1.2rem;
         }
      }
   }
   .serch-filter {
      @include d-flex(space-between, center);
      .search-box {
         border: 1px solid var(--color-dark-300);
         border-radius: 0.5rem;
         @include d-flex(flex-start, center);
         padding: 0.5rem;
         width: 80%;
         .icon {
            width: 1.8rem;
            cursor: pointer;
         }
         input {
            width: 100%;
            border: none;
            color: var(--color-dark-300);
            padding: 0.5rem;
            font-size: 1rem;
            &:focus {
               outline: none;
            }
         }
      }
      .filter-icon {
         border: 1px solid var(--color-dark-300);
         border-radius: 0.5rem;
         padding: 0.5rem;
         .icon {
            width: 1.8rem;
            cursor: pointer;
            color: var(--color-dark-300);
         }
      }
   }
}

@media only screen and (min-width: 576px) {
   nav {
      .profile-box {
         @include d-flex(flex-end, center);
         gap: 2rem;
         .profile-details {
            display: inline-block;
         }
         .fa {
            margin-right: auto;
         }
      }
      .logo-box {
         display: inline-block;
      }
   }
}

@media only screen and (min-width: 768px) {
   nav {
      @include d-flex(space-between, center);
      .profile-box {
         order: 1;
         @include d-flex(flex-end, center);
         gap: 2rem;
      }
      .serch-filter {
         border: 1px solid var(--color-dark-300);
         border-radius: 1.5rem;
         width: 40%;
         .search-box {
            border: none;
         }
         .filter-icon {
            border: none;
         }
      }
   }
}

@media only screen and (min-width: 992px) {
   nav {
      .profile-box {
         .fa {
            display: none;
         }
      }
      .serch-filter {
         margin-left: -10rem;
      }
   }
}

@media only screen and (min-width: 1200px) {
}
