aside {
   background-color: var(--background-primary);
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   padding: 50px;
   // display: none;

   .title {
      text-transform: uppercase;
      color: var(--color-dark-300);
      margin-bottom: 20px;
   }

   label {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--color-dark-500);
   }

   #price {
      width: 100%;
      margin-bottom: 10px;
   }
}

@media only screen and (min-width: 576px) {
   
}

@media only screen and (min-width: 768px) {
   
}

@media only screen and (min-width: 992px) {
   aside {
      position: relative;
      grid-column: span 1;
      padding: 30px;
   }
}

@media only screen and (min-width: 1200px) {
   
}