aside {
   height: 100vh;
   grid-column: span 1;
   padding: 30px;

   .title {
      text-transform: uppercase;
      color: var(--color-dark-300);
      margin-bottom: 20px;
   }

   label {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--color-dark-500);
   }

   #price {
      width: 100%;
      margin-bottom: 10px;
   }
}
