@import '../../index.scss';

footer{
    .logo-box{ 
        width: 16rem;
        
        .logo{
            color: var(--color-primary);
            margin : {
                top: .5rem;
                bottom: 1.2rem;
            }
        }
        .description{
            color: var(--color-dark-300);
            line-height: 1.5;
            margin: {
                top: 2rem;
                bottom: 1.5rem;
            };
        }
    }
    .item-container{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        .footer-list-item{
            margin: {
                top: 2rem;
                bottom: 2rem;
            };
            .title{
                text-transform: capitalize;
                margin-bottom: 1rem;
            }
            ul{
                li{
                    color: var(--color-dark-300);
                    text-transform: capitalize;
                    line-height: 2;
                }
            }
        }
    }
    hr{
        color: var(--color-dark-300);
    }
    .copy-section{
        .policy-section{
            @include d-flex(space-between, center);
            padding: 1rem .2rem;
        }
    }
}